<h2>My Giftapes Dashboard</h2>

<ul>
  <li>
  <% @giftapes.each do |giftape| %>
    <% if giftape.giftable_type != 'Collage' %>
      <%= link_to giftape.giftable.name, polymorphic_path(giftape.giftable) %>
    <% end %>
    <p><%= link_to giftape.giftable_type%></p>
    <p><%= giftape.updated_at %></p>
  <% end %>
  </li>
</ul>

<%# name of giftape, links to show page of giftable %>
