<h2>My Giftapes Dashboard</h2>

<ul>
  <li>
  <% @giftapes.each do |giftape| %>
      <% unless giftape.giftable.nil? %>
      <%= link_to giftape.giftable.name, polymorphic_path(giftape.giftable) %>
    <p><%= giftape.giftable.class %></p>
    <p><%= giftape.updated_at %></p>
    <%= link_to 'delete? :(',
                polymorphic_path(giftape.giftable),
                method: :delete,
                data: { confirm: "Are you really really sure?!" },
                class:"btn btn-info", id:"delete-btn" %>
    <% end %>
  <% end %>
  </li>
</ul>

<%# name of giftape, links to show page of giftable %>
