<div class="nested-fields">
  <div class="field">
    <%= f.input :youtube_url %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= link_to_remove_association "Remove Track", f %>
  </div>

</div>
