// Define variables for your color scheme
$gt-mixtape: #50D0B9;
$gt-curatedlist: #B7D050;
$gt-collage: #E280E4;
$gt-quiz: #E1A853;

$gt-bkg: #6072CE;
$gt-header: #DFA614;
$gt-navbar: #86E8CD;

$lt-yellow: rgb(255, 247, 174);

// Classes for diff mixtapes
.quiz {
  background-color: $gt-quiz;
  border-radius: 20px;
}
.mixtape {
  background-color: $gt-mixtape;
}
.curatedlist {
  background-color: $gt-curatedlist;
}
.collage {
  background-color: $gt-collage;
}

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #fff2a7;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
