body {
  background-color: $gt-bkg;
  text-align: center;
}
h2 {
  color: $gt-header;
  font-size: 40px;
  margin-bottom: 24px;
}
.giftape-create-links {
  height: 200px;
  width: 110px;
  display: block;
  position: fixed;
  bottom: 16px;
  right: 24px;
  z-index: 1;
}