.edit_collage {
  display: inline;
}
// MODAL
#col-modal-content {
  max-width: 800px;
  position: relative;
}
#col-modal-body {
  display:flex;
  width: 100%;
}
.relative-pos {
}
#giphy-form {
  overflow-y: scroll;
  width: 100%;
}
#giphy-results {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  img {
    margin: 4px;
  }
}