.edit_collage {
  display: inline;
}
.edit-collage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.edit-collage-card {
  margin: 0px auto 0px auto;
}
// MODAL
// #col-modal-content {
//   max-width: 800px;
//   position: relative;
// }
#giphy-form {
  overflow-y: scroll;
  width: 100%;
}
#giphy-results {
  height: auto;
  img {
    margin: 4px;
  }
}