.collage-bkg-container {
  background-image: url('https://res.cloudinary.com/susanjsp/image/upload/v1607594466/background-pink_ggwbrh.jpg');
  background-size: cover;
  border: dashed 3px black;
  h2 {
    color: black;
    padding-top: 24px;
  }
}
.edit_collage {
  display: inline;
}
.edit-collage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// MODAL
// #col-modal-content {
//   max-width: 800px;
//   position: relative;
// }
#giphy-form {
  overflow-y: scroll;
  width: 100%;
}
#giphy-results {
  height: auto;
  img {
    margin: 4px;
  }
}