<div class='nested-fields'>
    <%= f.input :prompt, placeholder: 'Write something embarassing' %>
    <%= f.input :photo, as: :file %>
    <%= link_to_remove_association "Remove this card", f %>
</div>
