<%# <!-- Modal -->
<div class="modal fade" id="collage-card-modal" tabindex="-1" role="dialog" aria-labelledby="collage-card-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collage-card-modal-title">Brand new image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> %>
        <div class='nested-fields'>
            <%= c.input :prompt, id: 'collage-card-prompt', placeholder: 'Write something embarassing' %>
            <%= c.input :photo, as: :file, id: 'image-upload', value: 'Upload Image' %>
          <%# <div class="collage-card-prompt">
            <button class="btn-random" id="collage-prompt-random"><i class="fas fa-sync"></i></button>
          </div>
          <div class="collage-card-img">
          </div> %>
            <%= link_to_remove_association "Remove this card", c %>

          <%# <form id="giphy-search">
            <input type="text" id="giphy-search" name="giphy-search" placeholder="Search GIPHY">
            <input type="submit" id="giphy-submit" value="Search">
            <button id="giphy-trending">Trending</button>
            <button id="giphy-random">Random GIF</button>
          </form>

          <div id="giphy-results">
          </div>
        </div>
      </div>
      <div class="modal-footer"> %>
        <%= c.submit "Save" %>
      </div>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>