<%= link_to "Back to Dashboard", my_giftapes_path, class:"butt butt-ltpurple" %>

<h2>Create new Collage</h2>
<%= simple_form_for @collage do |c| %>
  <%= c.input :name %>
  <%= c.submit %>
<% end %>
