<div class="mixtape-navigation-container">
  <%= link_to "Back to giftapes", my_giftapes_path, class:"butt back-to-giftapes" %>
</div>

<div class="row justify-content-center">

  <div class="col-lg-6 col-12">
    <h2>Create a new collage</h2>
    <%= simple_form_for @collage do |c| %>
      <%= c.input :name, label: "Let's make it a collection", placeholder: "Enter a name for your new collection" %>
      <%= c.submit "Add some photos!", class: "butt collage" %>
    <% end %>
  </div>

</div>
