<fieldset>
  <legend></legend>
  <div class="nested-fields">
    <div class="row">
      <div class="col-12">
        <%= f.input :youtube_url, label_html: { class: "mixtapeformstyling" }, label: "Youtube url", placeholder: "Use share link, e.g., https://youtu.be/s732BigTxZk" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-12">
        <%= f.input :start_time, label_html: { class: "mixtapeformstyling" }, label: "Start time (seconds)", placeholder: "Optional"  %> 
      </div>

      <div class="col-lg-4 col-12">
        <%= f.input :end_time, label_html: { class: "mixtapeformstyling" },  label: "End time (seconds)", placeholder: "Optional"  %>
      </div>

      <div class="col-lg-4 col-12">
        <%= link_to_remove_association "Delete this track", f, class:"btn btn-deletetrack btn-txt"%>  
      </div>
    </div>
  </div>
</fieldset>

