<div class="nested-fields">
    <%= f.input :youtube_url %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= link_to_remove_association "Remove this track", f, class:"btn btn-info btn-txt"%>
</div>
