<div class="mixtape-navigation-container">
  <%= link_to "Back to mixtape", mixtape_path, class:"butt generic-back-function" %>
  <%= link_to "Back to giftapes", my_giftapes_path, class:"butt back-to-giftapes" %>
</div>

<h1>Let's make some changes!</h1>

<%= render 'edit_form' %>

