<!-- <div class="landing-page-container">
  <div class="images-container"style="color: white;">
    <div class="tape-img">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/mixtape.png">
    </div>
    <div class="quiz-img">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/quiz.png">
    </div>
    <div class="list-img">
      <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/curatedlist.png">
    </div>
    <div class="collage-img">
      <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/collage.png">
    </div>
  </div>
  <div class="landing-container">
    <div class="giftapes-name">
      <h2>Giftapes</h2>
    </div>
    <div class="giftapes-landing-name">
      <h1 class="call-to-action"><%#= link_to "LET'S CREATE!", my_giftapes_path %></h1>
    </div>
  </div>
</div>
 -->

<div class="landing-page-container">
  <h2>GIFTAPES</h2>
  <div class="landing-images-container d-flex">
    <div class="tape-icon-container">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/mixtape.png">
    </div>
    <div class="quiz-icon-container">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/quiz.png">
    </div>
      <div class="list-icon-container">
        <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/curatedlist.png">
      </div>
      <div class="collage-icon-container">
        <img src="https://res.cloudinary.com/susanjsp/image/upload/v1607477804/collage.png">
      </div>
  </div>
  <div class="giftapes-landing-name">
  <h1 class="call-to-action"><%= link_to "Let's create!", my_giftapes_path %></h1>
</div>
</div>
