<div class="landing-page-container container m-5">
  <h2 class="landing-text">GIFTAPES</h2>

  <div class="landing-images-container d-flex justify-content-center">
    <div class="landing-icon mixtape-color">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1613514322/giftapes/icons/mixtape-icon.png">
    </div>
    <div class="landing-icon quiz-color">
      <img src ="https://res.cloudinary.com/susanjsp/image/upload/v1613514322/giftapes/icons/quiz-icon.png">
    </div>
    <div class="landing-icon curatedlist-color">
      <img src="https://res.cloudinary.com/susanjsp/image/upload/v1613514322/giftapes/icons/list-icon.png">
    </div>
    <div class="landing-icon collage-color">
      <img src="https://res.cloudinary.com/susanjsp/image/upload/v1613514322/giftapes/icons/collage-icon.png">
    </div>
  </div>

  <h1 class="landing-text call-to-action">
    <%= link_to "Let's create!", my_giftapes_path %>
  </h1>
</div>

