.butt {
  padding: 8px 22px;
  border-radius: 30px;
  font-family: "Patrick Hand", cursive;
  color: black;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.8);
  display: inline;
  margin: 10px 0px;
  text-align: center;
  border: none;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: none;
    top: 4px;
    left: 4px;
  }
  &.back-to-giftapes {
    background-color: rgb(231, 186, 37);
  }
  &.edit-function {
    background-color: rgb(144, 255, 122);
  }
  &.delete-function {
    background-color: rgb(233, 89, 89);
  }
  &.generic-back-function {
    background-color: rgb(135, 201, 212);
  }
}

.btn-deletetrack {
  background-color: #d04242;
  color: #081d19;
  border-radius: 4px;
  margin-top: 36px;
  font-size: 20px;
  height: 40px;
  font-family: $gt-font;
  box-shadow: 2px 2px #086b59;
  text-align: center;
  &:hover  {
    color:rgb(202, 199, 199);
  }
}

.btn-addtrack {
  background-color: #50D0B9;
  color:#944141;
  border-radius: 4px;
  margin-top: 25px;
  font-size: 20px;
  height: 40px;
  font-family: $gt-font;
  box-shadow: 2px 2px #944141;
  text-align: center;
  &:hover  {
    color:rgb(19, 19, 19) ;
  }
}

// .mixtapeformstyling {
//   color: #50D0B9;
//   font-size: 20px;
//   font-family: $gt-font;
//   text-shadow: 2px 2px #944141;
// }


.butt-block {
  display: block;
}

.bkg {
  background-color: $gt-bkg;
}

.butt-custom {
  width: 100%;
  padding: 5px 0px;
  background-color: $gt-header;
  color: black;
  border: none;
  transition: 0.3s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

.delete-list-btn {
  padding-right: 300px;
}

.butt-col-carousel {
  border: solid 2px black;
  border-radius: 50%;
  height: 43px;
  width: 50px;
  padding: 8px 2px;
  i {
    color: black;
  }
  i:hover {
    color: rgb(255, 248, 184);
  }
  &:hover {
    border-color: rgb(255, 248, 184);
  }
}


.butt-quiz {
  background-color: $gt-navbar;
  font-family: $headers-font;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 1px;
  width: 250px;
  height: 50px;
  &:hover {
    text-decoration: none;
    background-color: #06E8CF;
    color: red;
    box-shadow: none;
    top: 4px;
    left: 4px;
}
}
  .submit-score-btn-container {
    margin-top: 100px;
  }

.butt-small {
  height:30px;
  width:30px;
  padding: 0px;
}

.butt-giphy {
  font-family: $collage-font;
  border: 2px solid black;
  padding: 4px 24px;
}

