.butt {
  padding: 8px 22px;
  border-radius: 30px;
  font-family: "Patrick Hand", cursive;
  color: black;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.8);
  display: inline;
  margin: 10px 0px;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: none;
    top: 4px;
    left: 4px;
  }
  &.back-to-giftapes {
    background-color: rgb(231, 186, 37);
  }
  &.edit-function {
    background-color: rgb(144, 255, 122);
  }
  &.delete-function {
    background-color: rgb(233, 89, 89);
  }
  &.generic-back-function {
    background-color: rgb(135, 201, 212);
  }
}

.btn-deletetrack {
    color: #212529;
    background-color:  rgb(233, 89, 89);
    border-color: #f84d4d;
    margin-top: 32px;
    height: 40px;
}

.btn-addtrack {
  color: #212529;
  background-color:  rgb(89, 187, 233);

  margin-top: 25px;
  height: 40px;
}

.butt-block {
  display: block;
}

.bkg {
  background-color: $gt-bkg;
}

.butt-custom {
  width: 100%;
  padding: 5px 0px;
  background-color: $gt-header;
  color: black;
  border: none;
  transition: 0.3s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

.delete-list-btn {
  padding-right: 300px;
}

.butt-col-carousel {
  background-color: $lt-yellow;
  border: solid 2px black;
  border-radius: 50%;
  height: 43px;
  width: 50px;
  padding: 8px 2px;
  i {
    color: black;
  }
  i:hover {
    color: rgb(255, 248, 184);
  }
  &:hover {
    border-color: rgb(255, 248, 184);
  }
}
