.butt {
  padding: 8px 22px;
  border-radius: 30px;
  font-family: "Patrick Hand", cursive;
  color: black;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.8);
  display: inline;
  margin: 10px 0px;
  text-align: center;
}
.butt:hover {
  text-decoration: none;
  color: white;
  box-shadow: none;
  top: 4px;
  left: 4px;
}

.butt-block {
  display: block;
}

.bkg {
  background-color: $gt-bkg;
}

.butt-custom {
  width: 100%;
  padding: 5px 0px;
  background-color: $gt-header;
  color: black;
  border: none;
  transition: 0.3s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  &:hover {
    color: white;
  }
}

.delete-list-btn {
  padding-right: 300px;
}
