@import url("https://fonts.googleapis.com/css3?family=Inter&display=swap");

$black-0: #000000;
$black-1: #0b0b0d;
$black-2: #1b1c1e;
$black-3: #262729;
$black-4: #313235;
$white-0: #ffffff;
$white-1: #dee0d3;
$blue: #4cb8f5;
$green: #a6e630;
$yellow: #f5e82f;

.mixtapeformheader {
  color: #50D0B9;
  text-shadow: 2px 2px #944141;
}
.mixtapeformstyling {
  color: #50D0B9;
  font-size: 20px;
  font-family: $gt-font;
  text-shadow: 2px 2px #944141;
}

.submitmixtapeformstyling {
  color: #944141;
  font-size: 40px;
  font-family: "Gloria Hallelujah", cursive;
  text-shadow: 2px 2px #50D0B9;
  margin-top: 30px;
  background-color:transparent;
  box-shadow: none;
  border:0 none;
  &:hover {
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: wiggle;
  }
  @keyframes wiggle {
    0% { transform: translate(10px, 0); }
    10% { transform: translate(-10px, 0); }
    20% { transform: translate(10px, 0); }
    30% { transform: translate(-10px, 0); }
    40% { transform: translate(10px, 0); }
    50% { transform: translate(-10px, 0); }
    60% { transform: translate(10px, 0); }
    70% { transform: translate(-10px, 0); }
    80% { transform: translate(10px, 0); }
    90% { transform: translate(-10px, 0); }
    100% { transform: translate(0, 0); }
  }
}


.cassette-control-button  {
  background-color: #d87bc8; /* Green */
  border: none;
  color: rgba(0, 0, 0, 0.801);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 5px 5px 7px #0a0606;
  height: 50px;
  width: 50px;
  // box-shadow: 6px -3px 4px #0a0606;
  cursor: pointer;
}

.mixtape-navigation-container {
  margin-bottom: 25px;
}

.mixtape-container {
  width: 85%;
  height: 600px;
  margin: auto;
}

.cassette-animation-container {
  height: 270px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-right: 400px;
  padding-top: 50px;
  margin-top: 150px;
  margin-bottom: 60px;
}

.cassette-controls-container {
  height: 50px;
  width: 100%;
  margin-top: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.js-video-controls {
  margin: auto
}

.cassette-animation * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.cassette {
  margin: 20px auto;
  background: rgb(97, 145, 99);
  height: 220px;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 12px;
  overflow: hidden;
}

.innerbox {
  margin: 0 auto;
  height: 150px;
  width: 94%;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
  text-align: center;
}

.label {
  background: white;
  width: 60%;
  margin: 0 auto 20px;
  border-radius: 3px;
  font-family: 'Shadows Into Light', cursive;
  color: navy;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: bold;
}

.label:before{
  position: absolute;
  content: 'A';
  top: 3px;
  left: 4px;
  background: lightgray;
  font-family: Arial;
  font-weight: normal;
  letter-spacing: 0px;
  color: white;
  padding: 0 4px;
  font-size: 0.6em;
  border-radius: 1px;
}

.spin1-shadow{
  display: inline-block;
  width: 55px;
  height: 55px;
  position: relative;
  align-items: center;
  border-radius: 50%;
  // border: 1px solid red;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.spin1 {
  margin-top: 1px;
  display: inline-block;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  // border-left: 1px solid rgba(255, 255, 255, 0.4);
  // border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.spin1:after {
  position: absolute;
  content: '';
  top: 5px;
  left: 5px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #ccc3f4;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='10' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
}
.spin2-shadow {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-left: 130px;
  position: relative;
  align-items: center;
  border-radius: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.spin2 {
  margin-top: 1px;
  display: inline-block;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
}

.spin2:after {
  position: absolute;
  content: '';
  top: 5px;
  left: 5px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #ccc3f4;
  background-color: #CCC3F4;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='10' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
}

// Pause spinning ---------------

.spin-pause {
  -webkit-animation: rotation 0s infinite linear;
}
// Forward spinning ---------------

.spin-normal-speed {
  -webkit-animation: rotation 3s infinite linear;
}

.spin-fast-forward {
  -webkit-animation: rotation .6s infinite linear;
}

// Backward spinning ---------------

.spin-reverse-normal-speed {
  -webkit-animation: reverse-rotation 3s infinite linear;
}

.spin-reverse-fast-forward {
  -webkit-animation: reverse-rotation .6s infinite linear;
}

.lower {
  position: relative;
  height: 60px;
  width: 62%;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  // border-left: 1px solid black;
  // border-right: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.lower:before {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  height: 45px;
  width: 65px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: -21px;
  -webkit-transform: rotate(-74deg);
  transform: rotate(-74deg);
}

.lower:after {
  box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.1);
  content: '';
  height: 45px;
  width: 65px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: -21px;
  -webkit-transform: rotate(74deg);
  transform: rotate(74deg);
}

.dots {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ccc3f4;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 30px 0 0 10px;
}

.dots:before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ccc3f4;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
  left: 50px;
  bottom: 16px;
}

.dots2 {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ccc3f4;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 30px 10px 0 0;
  float: right;
}

.dots2:before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ccc3f4;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
  right: 50px;
  bottom: 16px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes reverse-rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
  }
}

