.recordmixtape {
  background-color: rgb(228, 228, 228); /* Green */
  border: 1px solid black; 
  color: rgba(0, 0, 0, 0.801);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: auto;
  margin-top:30px;
  border-radius: 4px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}