.landing-page-container {
  display: inline;
  max-width: 500px;
  align-items: center;
  object-fit: cover;
  width: 100%;
  h2 {
    padding-top: 90px;
    font-size: 75px;
  }
}
.landing-text {
  text-shadow: 6px 6px #000000b0;
  color: #FFA724;
  a {
    color: #FFA724;
  }
  a:hover { text-decoration: none; }
}
.call-to-action {
  margin-top: 60px;
  object-fit: cover;
  font-size: 50px;
  &:hover {
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: wiggle;
  }
  @keyframes wiggle {
    0% { transform: translate(10px, 0); }
    10% { transform: translate(-10px, 0); }
    20% { transform: translate(10px, 0); }
    30% { transform: translate(-10px, 0); }
    40% { transform: translate(10px, 0); }
    50% { transform: translate(-10px, 0); }
    60% { transform: translate(10px, 0); }
    70% { transform: translate(-10px, 0); }
    80% { transform: translate(10px, 0); }
    90% { transform: translate(-10px, 0); }
    100% { transform: translate(0, 0); }
  }
}

.landing-icon {
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 24px;
  img {
    height: 50px;
    margin-top: 10px;
  }
}
@media(min-width: 550px) {
  .landing-page-container h2 {
    font-size: 100px;
  }
  .call-to-action a {
    font-size: 68px;
  }
  .landing-icon {
    height: 120px;
    width: 120px;
    margin-left: 16px;
    img {
      height: 75px;
      margin-top: 16px;
    }
  }
}

@media (min-width: 768px) {
  .landing-icon {
    height: 150px;
    width: 150px;
    margin-left: 40px;
    img {
      height: 100px;
      margin-top: 18px;
    }
  }
}
