$gt-mixtape: #50D0B9;
$gt-curatedlist: #B7D050;
$gt-collage: #E280E4;
$gt-quiz: #E1A853;

.landing-page-container {
  display: inline;
  height: 50%;
  align-items: center;
}

.images-container {
  display: inline-grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 50%;
  z-index: 100;
  display: grid
}

.images-container img {
  max-width: 100%;
  max-height: 100%;
}
.tape-img {
  background-color: $gt-mixtape;
  border: 5px solid black;
  border-left-style: none;
  border-right-style: none;
}

.tape-img img {
  margin-top: 23px;
}

.quiz-img {
  background-color: $gt-quiz;
  border: 5px solid black;
  border-right-style: none;
}
.quiz-img img {
  max-width: 80%;
  max-height: 80%;
  padding-top: 55px;
  margin-top: 13px;
}

.list-img {
  background-color: $gt-curatedlist;
  border: 5px solid black;
  border-right-style: none;
}

.list-img img {
  max-width: 90%;
  max-height: 90%;
  padding-top: 50px;
}

.collage-img {
  background-color: $gt-collage;
  border: 5px solid black;
  border-right-style: none;
}

.collage-img img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 40px;
}

.giftapes-landing-name h1 {
  color: #FFA724;
  font-size: 100px;
}


.giftapes-landing-name h1:hover {
  text-decoration: none;
}


.giftapes-landing-name {
  margin-top: 200px;
}
