.navbar-giftapes {
  justify-content: space-between;
  background: $gt-navbar;
  flex-grow: 0;
  object-fit: center;
  .navbar-brand {
    text-align: left;
    flex: 1 0 auto;
  }
  img { width: 100px; }
  ul {
    list-style-type: none;
    font-family: $headers-font;
    padding: 0;
  }
  li a {
    &:hover {
      background: $gt-navbar;
      color: white;
    }
    color: $gt-bkg;
  }
  .butt {
    padding: 8px 15px;
  }
}
.navbar-light .navbar-toggler { border: none; }
.navbar i {
  font-size: 2rem;
  color: $gt-bkg;
  &:hover {
    animation: pulse 1s ease-in;
  }
}
.navbar-giftape-create-links {
  a {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.center {
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .navbar-giftape-create-links a {
    margin-right: 10px;
  }
  .navbar-giftapes img { width: 120px;}
}

@keyframes pulse {
  10% {transform: scale(0.8);}
  50% {transform: scale(1.2);}
  70% {transform: scale(1);}
}

.nav-item a {
  font-family: $headers-font;
  color: $gt-bkg;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    color: $gt-collage;
  }
}

