.question-card {
  width: 250px;
  border: 3px solid #000000;
  background-color: #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: rotate(0) scale(1.1) !important;
    z-index: 1;
    box-shadow: 0 0 2px black;

  }
}

.question-card ul {
  list-style: none;
  text-align: left;
  padding-left: 15px;
  font-family: $headers-font

}

.question-card p {
  font-family: $headers-font
}

.question-card-container {
  display: inline-grid;
  grid-gap: 50px 100px;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  margin: 10px;

}

.delete-question-icon {
  text-align: right;
  padding-right: 10px;
}

.quiz-name-icons {
  padding-top: 50px;
  margin-bottom: 80px;
  margin-top: 40px;

}

.quiz-name-icons a {
  color: black;
}


.question-form {
  padding-top:100px;
  width: 300px;
  justify-content: center;
  // position: relative;
}

.question-card-form {
  max-width: 300px;
  list-style: none;
  text-align: left;
  padding-left: 15px;
  font-family: $headers-font;
  border: 3px solid #000000;
  background-color: #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: rotate(0) scale(1.1) !important;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}

.question-card-form p {
  text-align: center;
  padding-right: 10px;
  padding-top: 12px;
}


.quiz-results {
  background-color: $gt-quiz;
  height: 1000px;
  border-radius: 5px;
  padding-top: 50px;
}


.quiz-results h2 {
  color: black;
  font-family: $headers-font
}

.user-icons {
  padding-left: 570px;

}

.final_percentage {
  padding-top:10px;
}

.quiz-container {
  box-shadow: 5px 5px 5px black;
  width: 100%;
  height: auto;
  padding-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: $gt-quiz;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    padding-bottom: 25px;
    font-size: 50px;
  }
}


@media (max-width: 768px) {
.question-card-container {
    grid-template-columns: 1fr;
  }
.butt-quiz {
  width: 240px;

}
}


