.main-container {
  height: 800px;
  width: 100%;
  border-radius: 20px;
  // border: solid 3px blue;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  // background-image: url('../../images/green-grid.jpg');
  box-shadow: 5px 5px 5px #000000a8
}

.main-left {
  padding-top: 80px;
  align-items: center;
  width: 100%;
  // border: solid 1px red;
}

.main-right {
  width: 100%;
  // border: solid 1px red;
  align-items: center;
  padding-left: 40px;
  padding-right: 45px;
  border-left: 1px solid #0e000047;
}

.prompt-form {
  // border: solid 1px red;
  width: 100%;
  padding: 20px;
  background-color: #fafad28f;
  // border-radius: 30px;
  box-shadow: 10px 10px #008000ba;
}

.notepad-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}


.page-title {
  padding-top: 115px;
  padding-bottom: 100px;
}
